{% load static %}
<div class="catagories-side-menu">
    <!-- Close Icon -->
    <div id="sideMenuClose">
        <i class="ti-close"></i>
    </div>

    <!--  Side Nav  -->
    <div class="nav-side-menu">
        <div class="menu-list">
            <h6>Kitap Kategori</h6>
            {% load mptt_tags %}
            <ul id="menu-content" class="menu-content collapse out">
                {% recursetree category %}
                    <li data-toggle="collapse" data-target="#women" class="collapsed active">
                        <a  href="/category/{{ node.id}}/{{ node.slug}}" id="karlDropdown" {% if not node.is_leaf_node %}  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" {% endif %}><span class="arrow"></span>{{node.title}}</a>
                        <ul class="list-links">
                            {% if not node.is_leaf_node %}
                                <ul class="dropdown-menu" id="man">
                                    <li class="sub-menu collapse"><a  href="/category/{{ node.id}}/{{ node.slug}}">{{ children }}</a></li>
                                </ul>
                            {% endif %}
                        </ul>
                    </li>
                {% endrecursetree %}
            </ul>
        </div>
    </div>
</div>