
    <div class="single_footer_area">
        <ul class="footer_widget_menu">
            <li><a href="/user"><h6>Kullanıcı Profil</h6></a></li>
            <li><a href="/user/orders"><h6>Ödünç Kitaplarım</h6></a></li>
            <li><a href="/user/comments"><h6>Yorumlarım</h6></a></li>
            <li><a href="/user/favorites"><h6>Favorilerim</h6></a></li>
            <li><a href="/user/products"><h6>Ürünlerim</h6></a></li>
            <li><a href="/logout"><h6>Çıkış</h6></a></li>
        </ul>
    </div>

