{% extends "homebase.html" %}
{% block title %}{{ profile.user_name }} Ödünç Listem {% endblock %}
{% block keywords %}{{ setting.keywords }} {% endblock %}
{% block description %}{{ setting.description }}  {% endblock %}

{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item">Ödünç Listesi</li>
                    </ol>
                    <!-- btn -->
                </div>
            </div>
        </div>
    </div>

    <section class="single_product_details_area section_padding_0_100">
        <div class="container">
            <div class="row">
                <div class="col-3 col-md-3">
                    <div class="row">
                        <div class="col-md-12 mb-5">
                            {% include "user_panel.html" %}

                        </div>
                    </div>

                </div>


                <div class="col-12 col-md-9">
                    <div><h3>Ödünç Alınan Kitaplar</h3></div>

                    <div class="cart-table clearfix">
                        <table class="table tab-content">
                        <tbody>
                            <tr>
                                <th class="text-left">Id</th>
                                <th class="text-left">İsim</th>
                                <th class="text-left">Soyisim</th>
                                <th class="text-left">Durum</th>
                                <th class="text-left">Tarih</th>
                                <th class="text-left">Detay</th>
                            </tr>
                            {% for rs in orders %}

                                <tr>
                                    <td class="text-left">{{ rs.id }}</td>
                                    <td class="text-left">{{ rs.first_name }}</td>
                                    <td class="text-left">{{ rs.last_name }}</td>
                                    <td class="text-left">{{ rs.status }}</td>
                                    <td class="text-left">{{ rs.create_at }}</td>
                                    <td class="text-left"><button class="btn btn-outline-primary"><a href="/user/orderdetail/{{ rs.id }}">Detay</a></button></td>

                                </tr>
                                </tbody>
                            {% endfor %}

                        </table>

                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}
