{% extends "homebase.html" %}
{% block title %}Shop Cart {% endblock %}
{% block keywords %}{{ categorydata.keywords }} {% endblock %}
{% block description %}{{ categorydata.description }}  {% endblock %}

{% block head %}<link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div class="breadcumb_area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb d-flex align-items-center">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item">ShopCart</li>
                    </ol>
                    <!-- btn -->
                </div>
            </div>
        </div>
    </div>
    <div class="cart_area section_padding_100 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cart-table clearfix">
                        <h3>Sepet Ürün Listesi</h3>
                        <table class="table table-responsive">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" roles="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}

                            <thead>
                            <tr>
                                <th>Ürünler</th>
                                <th>Adet</th>
                                <th> </th>

                            </tr>
                            </thead>
                            <tbody>
                            {% for rs in shopcart %}
                                <tr>
                                    <td class="cart_product_img d-flex align-items-center">
                                        <img src="{{rs.product.image.url}}" alt="Product" style="width: 450px; height: 250px;"></a>
                                        <h6>{{rs.product}}</h6>
                                    </td>

                                    <td class="qty">{{ rs.quantity }}</td>
                                    <td class="qty"><a href="/order/deletefromcart/{{ rs.id }}" class="button" onclick="return confirm('Ürün silinecektir.Emin misniz?')"><button type="delete" class="btn cart-submit d-block">Sil</button></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="cart-footer d-flex mt-30">
                        <div class="back-to-shop w-50">
                            <a href="shop-grid-left-sidebar.html">Alışverişe Devam Et</a>
                        </div>
                        <div class="update-checkout w-50 text-right">
                            <a href="/order/deletefromcart/{{ rs.id }}">Sepeti Temizle</a>

                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-total-area mt-70">

                    <a href="checkout.html" class="btn karl-checkout-btn">Alışverişi Onayla</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
